*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

main {
    height: 100vh;
    width: 100%;
    background-color: #100f17;
    font-family: Inter, sans-serif
}

header {
    display: flex;
    padding: 20px;
    gap: 20px;
    color: #fff;

    .perfil {
        width: 50px;
    }

    .foto-perfil {
        width: 100%;
        border-radius: 10000px;
    }
}